body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
  background-color: #121212;
  color: #f9f9f9;
  font-size: 25px;
}

input, button {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

input {
  width: 500px;
  background-color: #333;
  color: white;
}

button {
  background-color: #1db954;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1ed760;
}

ul {
  padding: 0;
  margin-top: 30px;
}

li {
  list-style: none;
  padding: 10px;
  margin: 5px auto;
  width: 800px;
  background-color: #2a2a2a;
  cursor: pointer;
  border-radius: 4px;
}

li.concluida {
  text-decoration: line-through;
  color: gray;
}

select {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

small {
  display: block;
  font-size: 13px;
  color: #bbb;
}

li {
  transition: all 0.3s ease;
}

li:hover {
  background-color: #3a3a3a;
  transform: scale(1.02);
}

li.removendo {
  opacity: 0;
  transform: translateX(100px);
}
